* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.paragraph {
    max-width: 495px;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.card-paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
    margin-bottom: 28px;
}

.paragraph_bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.paragraph-contact {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 49px;
}

.top_button {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    margin-top: 71px;
    margin-left: 114px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 50px;
}

.bottom_button {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
}

.head {
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    width: 504px;
    font-style: normal;
    padding-bottom: 32px;
}

.head-2 {
    margin-top: 63px;
    margin-bottom: 63px;
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.head-contact {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 51px 16px;
}

.head-3 {
    width: 340.96px;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.head-4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.head4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding: 40px 24px;
    padding-left: 0px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    padding: 23px 183px;
    margin-top: 72px;
    margin-bottom: 56px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-left: 113px;
    padding-right: 113px;
}

.block1 {
    max-width: 510px;
    padding-left: 113px;
    padding-top: 115px;
    margin-bottom: 72px;
    flex-grow: 1;
}

.block1:nth-of-type(p) {
    width: 425px;
}

.block3 {
    margin: 0 auto;
    padding: 0;
}

.block4 {
    padding: 93px 113px;
    background: #316099;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block5 {
    background-image: url(img/MaskGroup4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block6 {
    background: #FFFFFF;
    margin-right: 101px;
    max-width: 520px;
}

.block7 {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-left: 56px;
    padding-right: 56px;
}

.block8 {
    display: flex;
    justify-content: center;
    padding-left: 213px;
    padding-right: 213px;
    margin-bottom: 112px;
}

.contact {
    max-width: 780px;
}

.what-we-do {
    display: flex;
    justify-content: space-around;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card_image {
    align-self: center;
    margin-bottom: 51px;
}

.list ol {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-bottom: 64px;
}

.list {
    background: #316099;
    padding: 64px 113px;
}

.container-1 {
    display: flex;
    justify-content: center;
    margin: 63px 212px 96px 214px;
}

.top {

    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);

}

.top_info {
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 113px;
}

.paragraph_project {
    width: 75%;
    margin: 0 auto;
    color: #222222;
    text-align: center;
    margin: 32px auto 64px;
}

.project_img {
    width: 100%;
    position: relative;
}

.project_text {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project_item {
    position: relative;
    flex-grow: 1;
}

.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-grow: 1;
    margin-bottom: 112px;
}

.project_item1 {
    margin-right: 32px;
    flex-grow: 1;
    position: relative;
}

.project_item2 {
    margin-right: 32px;
    flex-grow: 1;
    position: relative;
}

.text {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
    right: auto;
}

.text2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    padding-left: 32px;
    right: auto;
}

.learn_more {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.paragraph_foot {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 494.77px;
}

br {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.phone {
    list-style-image: url(img/ic_phone_24px.png);
    width: 495px;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
    list-style-position: inside;
}

.mail {
    width: 495px;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
    list-style-image: url(img/ic_language_24px.png);
    text-decoration: none;
    list-style-position: inside;
}

.phone li::before {
    content: "  ";
}

.mail li::before {
    content: "  ";
}

.mail li:last-child {
    list-style-image: url(img/ic_email_24px.png);
}

.head_4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-bottom: 16px;
    padding-top: 56px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.name {
    padding-bottom: 8px;
    padding-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.input {
    width: 100%;
    height: 72px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    padding-left: 36px;
}

.input1 {
    max-width: 428px;
    height: 144px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    padding-left: 36px;
    padding-top: 21px;
}

.image {
    max-width: 100%;
}

@media (max-width: 1024px) {
    .block1 {
        width: 425px;
        padding-left: 32px;
    }

    .top_info {
        background-size: 333px;
        background-position: right bottom;
        margin-right: 16px;
        height: 684px;
    }

    .header {
        padding-left: 33px;
        padding-right: 33px;
    }

    .top_button {
        margin-left: 33px;
    }

    .head-2 {
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
    }

    .what-we-do {
        display: grid;
        flex-direction: column;
        align-self: center;
        margin-top: 64px;
    }

    .card {
        margin-bottom: 32px;
    }

    .project_item {
        margin-left: 35px;
        margin-right: 35px;
    }

    .project_parent {
        margin-left: 35px;
    }

    .text {
        font-size: 24px;
    }

    .text2 {
        font-size: 24px;
    }

    .block4 {
        padding: 47px 124px 64px 124px;
    }

    .bottom_button {
        padding: 10px 40px 10px;
        display: block;
    }

    .paragraph_foot {
        width: 336px;
    }

    .list ol {
        flex-direction: column;
        padding-left: 22px;
    }

    .list ol li {
        padding-left: 37px;
        margin-bottom: 25px;
    }

    .block5 {
        background-size: cover;
    }

    .head-contact {
        padding-bottom: 16px;
    }

    .container-1 {
        flex-direction: column;
        align-self: center;
        margin-left: 124px;
        margin-right: 124px;
    }

    .block6 {
        padding-left: 100px;
        padding-right: 100px;
        margin-right: 0;
        margin-bottom: 64px;
    }

    .block8 {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 64px;
    }
}

@media (max-width: 376px) {
    .head {
        font-size: 32px;
        width: 100%;
        text-align: center;
        padding-bottom: 12px;
        line-height: 37.5px;
    }

    .block1 {
        padding: 36px 16px 32px;
        width: 100%;
        margin-bottom: 0;
    }

    .paragraph {
        text-align: center;
        width: 100%;
    }

    .top_info {
        background-image: none;
    }

    .top_button {
        margin-left: 0;
        padding: 8px 13px;
        font-size: 12px;
    }

    .block_1 {
        text-align: center;
    }

    .top {
        height: 417px;
    }

    .head-2 {
        font-size: 24px;
        margin-top: 48px;
        line-height: 28.13px;
    }

    .card {
        width: 334.97px;
    }

    .what-we-do {
        padding-bottom: 0;
    }

    .project_text {
        top: 3px;
        right: 16px;
        font-size: 16px;
    }

    .project_parent {
        flex-direction: column;
        margin-bottom: 64px;
    }

    .text {
        top: 16px;
        left: 16px;
        font-size: 16px;
    }

    .text2 {
        top: 16px;
        left: 16px;
        font-size: 16px;
        padding-left: 0;
    }

    .project_item {
        margin-right: 32px;
        margin-left: 32px;
    }

    .project_item1 {
        margin-bottom: 16px;
    }

    .block4 {
        flex-direction: column;
        padding: 18px 16px 42px 16px;
    }

    .head-3 {
        text-align: center;
        font-size: 24px;
        line-height: 28.13px;
        padding-bottom: 32px;
    }

    .paragraph_foot {
        text-align: center;
        padding-bottom: 40px;
    }

    .list {
        padding-left: 16px;
        padding-top: 32px;
        padding-right: 0;
        padding-bottom: 32px;
    }

    .list ol {
        padding-bottom: 20px;
    }

    .list ol li {
        margin-bottom: 17px;
        padding-left: 23px;
    }

    .paragraph_bottom {
        text-align: center;
        padding-right: 16px;
    }

    .head-contact {
        font-size: 28px;
    }

    .container-1 {
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 32px;
    }

    .block6 {
        padding: 43px 23px 32px 23px;
        margin-bottom: 0;
    }

    .block7 {
        padding-left: 35px;
        padding-right: 35px;
    }

    .block8 {
        margin-bottom: 32px;
    }

    .paragraph {
        text-align: left;
    }

    .head_4 {
        font-size: 16px;
        padding-bottom: 0;
    }

    .name {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .input {
        height: 46px;
        padding-left: 22px;
    }

    .input1 {
        height: 93px;
        width: 250px;
        padding-left: 22px;
    }

    .button {
        padding: 15px 54px;
        margin-top: 46px;
        margin-bottom: 36px;
    }
}